numpy
pillow
requests
opencv-python
git+https://github.com/huggingface/diffusers.git
transformers>=4.44.0
accelerate>=0.33.0
sentencepiece>=0.2.0
huggingface_hub>=0.24.0
safetensors>=0.4.0
protobuf>=3.19.0
spaces
scipy
matplotlib
tqdm
protobuf
sentencepiece